
dialog {
    background-color: rgba(0, 0, 50, 0.5);
    position: relative;
    width: 40%;
    opacity: 0;
    transform: translate(50%, 50%);
    transition: opacity 0.3s ease-in;
    padding: 1rem;
}

dialog.show {
    opacity: 1;
}


dialog div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

dialog::backdrop {
    background-color: rgba(153, 153, 153, 0.781);
}
dialog button {
    margin-top: 1rem;
    border-radius: 2rem;
    border: 1px solid black;
    padding: 0.5rem;
    align-self: center;
}



dialog #result-game {
    font-size: 2rem;
    font-weight: 800;
}