* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%
}

body {
    background: url('../../assets/background/bckgMicrosoftGen.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    color: #fff;
    font-family: 'Arial', sans-serif;
    min-height: 100%;
    color: #ffeb3b; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 50, 0.5);
    z-index: -1;
}

h1, h2, h3 {
    font-family: 'Nautilus Pompilius', 'Arial Black', sans-serif;
    color: #ffeb3b; /* Bright yellow for contrast */
}
  
p, button {
    font-family: 'Arial', sans-serif;
}
  
main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    min-height: 80%;
}

#gen-param {
    overflow: auto;
    width: 40%;
    margin-left: 1rem;
}

#game {
    overflow: auto;
    width: 50%;
}

button {
    border-radius: 2rem;
    border: 1px solid ;
    box-shadow: 0.05rem 0 0.05rem 0.05rem;
    width: 20rem;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #ffeb3b;
    color: rgb(4, 74, 136);
    transition: tranform 0.2s, background-color 0.5s, color 0.5s;
}

button:hover {
  transform: scale(1.5);
  background-color: rgb(4, 74, 136);
  color: #ffeb3b;
}