.player {
    display: flex;
    gap: 1rem;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#player1-realp, #player2-realp {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    border: 1px solid #ccc;
    accent-color: #ffeb3b;
    margin-bottom: 0;
    width: 1em;
    height: 1em;
    background: purple; 
    align-self: center;
}

input[type=number] {
    border-radius: 20%;
    padding: 0.2rem;
    color: rgb(4, 74, 136);
    background-color: #ffeb3b;
}

.player1 label, .player2 label {
    align-self: center;
}

#player1-name, #player2-name {
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    background-color: #ffeb3b;
    color: rgb(4, 74, 136);
}

#player1-name:focus, #player2-name:focus {
    outline: 2px solid black;
}


.info-board input {
    max-width: 3rem;
}

.parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.board-size {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}



#info-game{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 50%;
    background-color: rgba(128, 128, 128, 0.377);
    width: 70%;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
}


#info-r {
    margin-top: .2rem;
    display: block;
}

#info-r p {
    margin-top: .2rem;
}